{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<section class="contenair">
    <div class="boxCart">
        <div class="listeCart">
            <table border="0" class="tableCart background">
                <thead class="tableCartTHead">
                    <th>Article</th>
                    <th>Type</th>
                    <th>Reduction</th>
                    <th>Prix</th>
                </thead>
                <tbody class="tableCartTbody">
                    {% for data in carts %}
                        <td>
                            <img src="{{ asset('uploads/articles/' ~ data.produit.photo) }}" class="imgArticles"/>
                            {{ data.produit.nom}}
                        </td>
                        <td>
                            {% if data.produit.typeProduit != null %}
                                {{ data.produit.typeProduit.nom }}
                            {% else %}
                                
                            {% endif %}
                        </td>
                        <td>
                            {% if data.produit.reduction != null %}
                                {{ data.produit.reduction }}
                            {% else %}
                                pas de réduction
                            {% endif %}
                        </td>
                        <td>
                            {{ data.produit.price }} euros
                        </td>
                    <tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="detailPrice background">
            <table class="detailTable">
                <thead>

                </thead>
                <tbody>
                    <td>
                        <div class="detailPar1">
                            <span>Produits</span>
                            <span>{{ totalAPayer }} euros</span>
                        </div>
                        <div class="detailPar1 mt">
                            <span>TVA 20%</span>
                            <span>{{ tva }} euros</span>
                        </div>
                    </td>
                <tr>
                    <td>
                        <div class="detailPar1 mt">
                            <span>Total</span>
                            <span>{{ ttc }} euros</span>
                        </div>
                        <span class="flexRight">
                            <button class="button mt">Payer</button>
                        </span>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
