{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{% include("modal/modal.html.twig") %}
<section class="contenair">
    <div class="boxImgHome">
        <div>
            <img src="{{ asset('img/boutique.png') }}" width="100%" height="800px"/>
        </div>
    </div>
</section>
<section class="contenair">
    <div class="box">
        {% for data in produits %}
            <div class="card">
                <span class="cardFavoris">
                    {% if app.user.id is defined %}
                        {% if data[1] != null %}
                            <form method="POST" class="formFavorisHome">
                                <button type="submit" class="favorisHome favColor">
                                    {% include('svg/favorisTrue.html.twig') %}
                                </button>
                                <input type="hidden" class="produitId" value="{{ data[0].id }}" />
                                {% if app.user is defined and app.user != null %}
                                    <input type="hidden" class="userId" value="{{ app.user.id }}" />
                                {% else %}
                                    <input type="hidden" class="userId" value="none" />
                                {% endif %}
                            </form>
                        {% else %}
                            <form method="POST" class="formFavorisHome">
                                <button type="submit" class="favorisHome favColor">
                                     {% include('svg/favorisFalse.html.twig') %}
                                </button>
                                <input type="hidden" class="produitId" value="{{ data[0].id }}" />
                                {% if app.user is defined and app.user != null %}
                                    <input type="hidden" class="userId" value="{{ app.user.id }}" />
                                {% else %}
                                    <input type="hidden" class="userId" value="none" />
                                {% endif %}
                            </form>
                        {% endif %}
                    {% else %}
                        <button type="submit" class="favoris favColor modalCarts">
                             {% include('svg/favorisFalse.html.twig') %}
                        </button>
                    {% endif %}
                </span>
                <span class="cardPhotoAndCart">
                    <a href="{{ path('app_produit_detail' , { 'idProduit':data[0].id }) }}">
                        <img src="{{ asset('uploads/articles/' ~ data[0].photo ) }}" class="imgProduit"/>
                    </a>
                    {% if app.user != null %}
                        {% if produitsInCart is empty %}
                            <span class="addCart" style="z-index:1;">
                                <form method="POST" class="formCartsHome">
                                    <button type="submit" class="carts">
                                        {% include('svg/addPanier.html.twig') %}
                                        | ajouter pannier                                    
                                    </button>
                                    <input type="hidden" class="produitId" value="{{ data[0].id }}" />
                                    {% if app.user.id is defined %}
                                        <input type="hidden" class="userId" value="{{ app.user.id }}" />
                                    {% endif %}
                                </form>
                            </span>
                        {% else %}
                            {% for content in produitsInCart %}
                                {% if content.produit.id == data[0].id and content.user.id == app.user.id %}
                                    <span class="addCart" style="z-index:10;">
                                        <form method="POST" class="formCartsHome">
                                            <button type="submit" class="carts">
                                                {% include('svg/inPanier.html.twig') %}
                                                | dans le pannier
                                            </button>
                                            <input type="hidden" class="produitId" value="{{ data[0].id }}" />
                                            {% if app.user.id is defined %}
                                                <input type="hidden" class="userId" value="{{ app.user.id }}" />
                                            {% endif %}
                                        </form>
                                    </span>
                                {% else %}
                                    <span class="addCart" style="z-index:1;">
                                        <form method="POST" class="formCartsHome">
                                            <button type="submit" class="carts">
                                                {% include('svg/addPanier.html.twig') %}
                                                | ajouter pannier                                    
                                            </button>
                                            <input type="hidden" class="produitId" value="{{ data[0].id }}" />
                                            {% if app.user.id is defined %}
                                                <input type="hidden" class="userId" value="{{ app.user.id }}" />
                                            {% endif %}
                                        </form>
                                    </span>
                                {% endif %}
                            {% endfor %}

                        {% endif %}
                        
                    {% else %}
                         <span class="addCart">
                            <button type="submit" class="carts modalCarts">
                                {% include('svg/addPanier.html.twig') %}
                                | ajouter pannier                                    
                            </button>
                        </span>
                    {% endif %}
                </span>
                <span class="titleCardProduit">
                    Lorem ipsum dolor sit amet
                </span>
                <span class="detailCardProduit">
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </span>
                <div class="footerCard">
                    <span class="price">{{ data[0].price }}€</span>
                    <span class="info">
                        {% if data[0].reduction != null %}
                            <span>{{ data[0].reduction}}% reduction</span>
                        {% else %}
                            
                        {% endif %}
                        <span class="note">
                            <img src="{{ asset('img/etoile.png')}}" />
                        </span>
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
