{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<section class="contenair hauteur flexColumn justifyContentStart">
    <h3>Ajouter un article</h3>
    <div class="box flexCenter paddingAjoutFormProduit backgroundAjoutForm">
        
        {{ form_start(form)}}

            <div class="formAjoutProduit">
                <div class="displayFlexStartColumn">
                    <div>
                        {{form_label(form.nom)}}
                        <span style="color:red;">*</span>
                    </div>
                    {{form_widget(form.nom)}}
                </div>
            </div>

            <div class="formAjoutProduit marginTopAjoutProduit">
                <div class="displayFlexStartColumn">
                    <div>
                        {{form_label(form.price)}}
                        <span style="color:red">*</span>
                    </div>
                    {{form_widget(form.price)}}
                </div>
                <div class="displayFlexStartColumn">
                    {{form_label(form.reduction)}}
                    {{form_widget(form.reduction)}}
                </div>
            </div>
            
            <div class="formAjoutProduit marginTopAjoutProduit">
                <div class="displayFlexStartColumn">
                    {{form_label(form.photo)}}
                    {{form_widget(form.photo)}}
                </div>
                <div class="displayFlexStartColumn">
                    {{form_label(form.typeProduit)}}
                    {{form_widget(form.typeProduit)}}
                </div>
            </div>
            <input type="submit" class="button" name="submit" value="Valider"/>
        {{ form_end(form)}}
    </div>
</section>

{% endblock %}