{% extends 'base.html.twig' %}

{% block title %}Liste Articles{% endblock %}

{% block body %}
<section class="contenair flexColumn">
    <h3>Liste Articles</h3>
    <div class="formChoiceArticle background">
        <form method="post">
            <label for="pet-select">Choisir type article(s):</label>
            <select name="choiceType" id="choiceType">
                <option value="">--Choisir--</option>
                {% for data in  typesProduits %}
                    <option value="{{data}}">{{data}}</option>
                {% endfor %}
            </select>
            <input type="submit" name="submit" value="valider" />
        </form>
    </div>
    <div class="box">
            {% for data in produit %}
                <div class="card">
                    <span class="deleteArticle flexEnd ml-15 mt-5">
                        {% include('svg/xCircle.html.twig') %}
                        {% if app.user is defined %}
                            <input type="hidden" name="idUser" value="{{ app.user.id }}"/>
                        {% endif %}
                        <input type="hidden" name="idArticle" value="{{ data.id }}"/>
                    </span>
                    <span class="cardPhotoAndCart">
                        <a href="{{ path('app_produit_detail' , { 'idProduit':data.id }) }}">
                            {% if data.photo == null or data.photo is empty %}
                                <div class="imageFill">
                                    {% include('svg/imageFill.html.twig') %}
                                </div>
                            {% else %}
                                <img src="{{ asset('uploads/articles/' ~ data.photo ) }}" class="imgProduit"/>
                            {% endif %}
                        </a>
                        {% if app.user != null %}
                            <span class="addCart" style="z-index:1;">
                                <button type="submit" class="carts">
                                    {% include('svg/addPanier.html.twig') %}
                                    | ajouter pannier                                    
                                </button>
                            </span>
                        {% endif %}
                    </span>
                    <form method="POST" class="formProduits">
                        <div class="titleCardProduit">
                            <input type="text" name="title" value="Lorem ipsum dolor sit amet" placeholder="saisir nom article" />
                            <input type="hidden" name="idUser" value="{{ app.user.id }}"/>
                            <input type="hidden" name="idArticle" value="{{ data.id }}"/>
                        </div>
                        <span class="detailCardProduit">
                            <textarea id="story" name="detail" rows="5" cols="33" maxlength="110" placeholder="saisir...">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</textarea>
                        </span>
                        <div class="footerCard">
                            <input class="prix" type="text" name="price" value="{{ data.price }}" placeholder="prix..." />
                            <div class="info">
                                {% if data.reduction != null %}
                                    <span>{{ data.reduction}}% reduction</span>
                                {% endif %}
                                <span class="modif">
                                    <button name="submit" name="t" class="modifSubmit">Modifier</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            {% endfor %}

       
    </div>
</section>

{% endblock %}