{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
{% include("modal/modal.html.twig") %}
<section class="contenair hauteur">
    <div class="box boxForProduitDetail">
        <div class="imgProduitDetail">
            <div id="produitdetail">
                <div id="imgHeadProduit">
                    <span>lien</span>
                    {% if favoris is defined and favoris != null %}
                        <form method="POST">
                            <button type="submit" class="favoris favColor">
                                {% include('svg/favorisTrue.html.twig') %}
                            </button>
                        </form>
                         <input type="hidden" id="produitId" value="{{ produit.id }}" />
                        {% if app.user is defined and app.user != null %}
                            <input type="hidden" class="userId" value="{{ app.user.id }}" />
                        {% else %}
                            <input type="hidden" class="userId" value="none" />
                        {% endif %}
                    {% else %}
                        {% if app.user is defined and app.user != null %}
                            <form method="POST">
                                <button type="submit" class="favoris favColor">
                                     {% include('svg/favorisFalse.html.twig') %}
                                </button>
                                <input type="hidden" id="produitId" value="{{ produit.id }}" />
                                {% if app.user is defined and app.user != null %}
                                    <input type="hidden" class="userId" value="{{ app.user.id }}" />
                                {% else %}
                                    <input type="hidden" class="userId" value="none" />
                                {% endif %}
                            </form>
                        {% else %}
                             <form method="POST">
                                <button type="submit" id="favoris" class="favoris favColor">
                                     {% include('svg/favorisFalse.html.twig') %}
                                </button>
                                <input type="hidden" id="produitId" value="{{ produit.id }}" />
                                {% if app.user is defined and app.user != null %}
                                    <input type="hidden" id="userId" value="{{ app.user.id }}" />
                                {% else %}
                                    <input type="hidden" id="userId" value="none" />
                                {% endif %}
                            </form>
                        {% endif %}
                        
                    {% endif %}
                </div>
                <span class="flexCenter">
                    <img src="{{ asset('uploads/articles/' ~ produit.photo ) }}"  width="80%" height="80%"/>
                </span>
                <div id="imgFooterProduit">autre image</div>
            </div>
        </div>
        <div class="produitDetails">
            <div>
                <span>{{ produit.nom }}</span>
                <span>ref: 3000</span>
            </div>
            <div class="boxPriceProduit">
                <div id="priceProduit">
                    {{ produit.price }}€
                </div>
            </div>
            <div id="selectColor">
                <span>selectionner une couleur</span>
                <div>
                    couleurs
                </div>
            </div>
            <div id="detailsProduit">
                <span id="detailTitle">Details</span>
                <ul>
                    <li>coucou</li>
                    <li>coucou</li>
                    <li>coucou</li>
                    <li>coucou</li>
                </ul>
            </div>
            <div id="panier">
                <span>Ajouter Pannier</span>
            </div>
        </div>
    </div>
</section>
{% endblock %}
