<ul>
    {% if app.user %}
        <li>
            {% for list in nav %}
                {% if list.dropdown != true %}
                    <li>
                        {% if list.path != null %}
                            <a href="{{ path(list.path) }}">
                                {{ list.nom }}
                            </a>
                        {% else %}
                            <a href="#">
                                {{ list.nom }}
                            </a>
                        {% endif %}
                    </li>
                {% endif %} 
            {% endfor %}
            <a href="{{ path('app_logout')}}">
                Deconnection
            </a>
        </li>
    {% else %}
        {% for list in nav %}
            {% if list.dropdown != true %}
                <li>
                    {% if list.path != null %}
                        <a href="{{ path(list.path) }}">
                            {{ list.nom }}
                        </a>
                    {% else %}
                        <a href="#">
                            {{ list.nom }}
                        </a>
                    {% endif %}
                </li>
            {% endif %} 
        {% endfor %}
    {% endif %}
</ul>