<ul>
    {% if app.user %}
        <li>
            <a href="{{ path('home') }}">
                Accueil
            </a>
        </li>
        <li>
            <a href="{{ path('app_produit_listeFavoris') }}">
                liste favoris
            </a>
        </li>
        <li>
            <a href="{{ path('app_cart') }}">
                Pannier
            </a>
        </li>
        <li>
            <a href="{{ path('app_produit_ajout') }}">
                Ajouter
            </a>
        </li>
        <li>        
            <a href="{{ path('app_logout')}}">
                Deconnection
            </a>
        </li>
    {% else %}
        {% for list in nav %}
            {% if list.dropdown != true %}
                <li>
                    {% if list.path != null %}
                        <a href="{{ path(list.path) }}">
                            {{ list.nom }}
                        </a>
                    {% else %}
                        <a href="#">
                            {{ list.nom }}
                        </a>
                    {% endif %}
                </li>
            {% endif %} 
        {% endfor %}
    {% endif %}
</ul>